<h1>Edit Post Page</h1>

<%= form_for @post, url: post_path, method: :put do |post| %>
  <div class="editpost">
  
    <%= post.label :message %>
    <%= post.text_area :message %>

    <div class="edit_post">
      <%= post.submit %>
    </div>

  </div>
<% end %>