<h1>Front_end</h1>

<a href="/posts/new">New Post</a>
<a href="/posts/show">My Posts</a>


<% @posts.each do |post| %>
  <div class="allpost">
    <p id="post"><strong><%= post.user.email %> : </strong></u><%= post.message %></p>
  </div>
<% end %>
<%= link_to "My profile page", current_user %>