<h1>Front_end</h1>

<a href="/posts/new">New Post</a>


<% @posts.each do |post| %>
  <div class="allpost">
    <p id="post"><strong><u><%= post.user.email %> </strong><br></u><%= post.message %></p>
  </div>
<% end %>