<h1>Front_end</h1>

<%= link_to "My profile page", current_user %>
<a href="/posts/new">New Post</a>
<a href="/posts/show">My Posts</a>


    <div id="like">
      <%= render partial: 'like_button' %>
    </div>