<h1>Add new post page</h1>

 <%= form_for @post, url: posts_path, method: :post do |post| %>
    <div class="newpost">
    
      <%= post.label :message %>
      
      <%= post.text_area :message, :maxlength => 140 , class: "text-area" , placeholder: "Type your message here !"%>
     
      <div class="create_post">
        <%= post.submit %>
      </div>
  </div>
<% end %>

<input type="button" value="Go back!" onclick="history.back()">
